
{% if product.specification %}

    <table class="table table-striped">
        <tbody>
            <tr>
                {% if product.specification.spec_1 %}
                    <td>{{ product.specification.spec_1_name }}</td>
                    <td>{{ product.specification.spec_1 }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if product.specification.spec_2 %}
                    <td>{{ product.specification.spec_2_name }}</td>
                    <td>{{ product.specification.spec_2 }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if product.specification.spec_3 %}
                    <td>{{ product.specification.spec_3_name }}</td>
                    <td>{{ product.specification.spec_3 }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if product.specification.spec_4 %}
                    <td>{{ product.specification.spec_4_name }}</td>
                    <td>{{ product.specification.spec_4 }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if product.specification.spec_5 %}
                    <td>{{ product.specification.spec_5_name }}</td>
                    <td>{{ product.specification.spec_5 }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if product.specification.spec_6 %}
                    <td>{{ product.specification.spec_6_name }}</td>
                    <td>{{ product.specification.spec_6 }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if product.specification.spec_7 %}
                    <td>{{ product.specification.spec_7_name }}</td>
                    <td>{{ product.specification.spec_7 }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if product.specification.spec_8 %}
                    <td>{{ product.specification.spec_8_name }}</td>
                    <td>{{ product.specification.spec_8 }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if product.specification.spec_9 %}
                    <td>{{ product.specification.spec_9_name }}</td>
                    <td>{{ product.specification.spec_9 }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if product.specification.spec_10 %}
                    <td>{{ product.specification.spec_10_name }}</td>
                    <td>{{ product.specification.spec_10 }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if product.specification.spec_11 %}
                    <td>{{ product.specification.spec_11_name }}</td>
                    <td>{{ product.specification.spec_11 }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if product.specification.spec_12 %}
                    <td>{{ product.specification.spec_12_name }}</td>
                    <td>{{ product.specification.spec_12 }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if product.specification.spec_13 %}
                    <td>{{ product.specification.spec_13_name }}</td>
                    <td>{{ product.specification.spec_13  | linebreaksbr}}</td>
                {% endif %}
            </tr>
            <tr>
                {% if product.specification.spec_14 %}
                    <td>{{ product.specification.spec_14_name }}</td>
                    <td>{{ product.specification.spec_14 | linebreaksbr }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if product.specification.spec_15 %}
                    <td>{{ product.specification.spec_15_name }}</td>
                    <td>{{ product.specification.spec_15  | linebreaksbr}}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

{% endif %}