{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="mx-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Products</a></li>
                        <li class="breadcrumb-item"><a href="#">{{ product.category.friendly_name}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ product.brand.name }}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 d-none d-lg-block d-xl-block text-center mt-3">
                {% include 'products/includes/banner_left.html' %}
            </div>
            <div class="col-lg-2 order-12 d-none d-lg-block d-xl-block text-center mt-3">
                {% include 'products/includes/banner_right.html' %}
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="image-container my-5">
                    {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid mt-5" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid mt-5" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-3">
                    <!-- Dump 2 -->
                    <h5 class="mb-0 text-center font-weight-bold">{{ product.name }}</h5>
                    <div class="row">
                        {% include 'products/includes/manufacturers_logos.html' %}
                    </div>
                    <div class="row">
                        <div class="col-xs-4 mx-auto">
                          <h2 class="mb-3 text-left text-danger font-weight-bold">${{ product.price }}</h2>
                        </div>
                        <div class="col-xs-4 mx-auto">
                          {% if product.available %}
                              <h2 class="mb-3 text-left text-success font-weight-bold">Available</h2>
                          {% else %}
                              <h2 class="mb-3 text-left text-danger font-weight-bold">Coming soon!</h2>
                          {% endif %}
                        </div>
                    </div>
                    {% include 'products/includes/key_features.html' %}
                    {% if product.category %}
                    <!-- <p class="small mt-2 mb-2">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p> -->
                    {% endif %}
                    {% if product.rating %}
                    <small class="text-muted ml-5 font-weight-bold"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                    <small class="text-muted ml-5 font-weight-bold">No Rating</small>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <small class="ml-3 float-right">
                        <a href="{% url 'edit_product' product.id %}">Edit</a> |
                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                    {% endif %}
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center mt-2 font-weight-bold">
                                <a class="text-info" href="#product-description">Additional Information</a>  
                            </div>
                        </div>
                    </div>
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            {% with product.has_sizes as s %}
                            {% if s %}
                            <div class="col-12">
                                <p><strong>Size:</strong></p>
                                <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                    <option value="xs">XS</option>
                                    <option value="s">S</option>
                                    <option value="m" selected>M</option>
                                    <option value="l">L</option>
                                    <option value="xl">XL</option>
                                </select>
                            </div>
                            {% endif %}
                            <div class="col-12">
                                <p class="mt-3 ml-3"><strong>Quantity:</strong></p>
                                <div class="form-group col-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0"
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input text-center font-weight-bold" type="number" name="quantity" value="1"
                                            min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                        <div class="input-group-append mr-5">
                                            <button class="increment-qty btn btn-black rounded-0"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <div>
                                          <input type="submit" class="btn btn-black rounded-0 text-uppercase ml-5" value="Add to Bag">
                                        </div>
                                      </div>
                                </div>
                            </div>
    
                            <div class="col-12{% if s %}-12 mt-2{% endif %}">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 w-100 mt-3">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% include 'products/includes/sort_category.html' %}
        <div class="row">
            <div id="product-description" class="col-sm-12 col-md-6 text-center font-weight-bold">
                <hr>
                <p class="lead font-weight-bold">Product Description</p>
                <hr>
                {{ product.details | linebreaksbr  }}
            </div>
            <div class="col-sm-12 col-md-6 text-center font-weight-bold">
              <hr>
              <p class="lead font-weight-bold" >Specification</p>
              {% include 'products/includes/specifications.html' %}
              <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}

